* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow-x: hidden;
}

header {
  background-color: #1a1a1a;
  color: white;

  font-family: "Poppins", sans-serif;
  width: 100vw;
  z-index: 99;

  position: fixed;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

.headerdiv {
  padding: 12px 128px;
  display: flex;
}

.headerdiv ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.headerdiv li {
  margin-right: 64px;
}

.headerdiv a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.headerdiv li h2 {
  transition: 0.2s;
}

.headerdiv li :hover {
  color: #839ba4;
}

.hamButton {
  visibility: hidden;
}

.shoppingcart {
  position: absolute;
  right: 64px;
  top: 50%;
  transform: translateY(-50%);
}

.shoppingcart i {
  font-size: 24px;
  transition: 0.2s;
}

.shoppingcart i:hover {
  color: #839ba4;
}

.phonepic {
  margin-top: 30px;
  height: 65vh;
}

.watchpic {
  margin-top: 26px;
  height: 55vh;
}

.appIconImg {
  width: 250px;
  margin-top: 60px;
}

.div1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 1;
  text-align: center;

  color: black;
  background-color: #f1f3ef;
  height: 100vh;
}

.productHead {
  margin-top: 16px;
  font-family: "Poppins", sans-serif;
}

.buyButton {
  margin-top: 16px;
  margin-bottom: 60px;
  transform: scale(1);
}

.buyButton a {
  text-decoration: none;

  color: #fff;
  display: block;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;

  border-radius: 30px;
  padding: 6px 12px;
  background-color: #357ada;

  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.11);
}

.buyButton :hover {
  transform: scale(1.025);
}

.textdiv {
  width: 60vw;
}

.div2 {
  background-color: #2a2a2a;
  color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
  top: 47px;
  text-align: center;

  width: 100vw;
  min-height: 100vh;

  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.47);
}

#watchLink {
  margin-bottom: 40px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  transition: 0.2s;
}

.div3 {
  height: 100vh;

  pointer-events: none;
}

.watchRow-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  font-family: "Roboto", sans-serif;

  width: 60vw;
}

.watchpic2 {
  margin: 0px 38px;
}

.counter {
  background-color: red;
  color: white;
  padding: 4px;
  font-size: 5;
  border-radius: 50%;

  position: absolute;
  right: 48px;
  top: 8px;
}

.div4 {
  background-color: #f1f3ef;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: sticky;
  position: -webkit-sticky;
  top: 47px;
  text-align: center;

  width: 100vw;
  min-height: 90vh;

  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.47);
}

footer {
  color: white;
  background-color: #2a2a2a;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  height: 12vh;

  z-index: 10;
  position: sticky;
  position: -webkit-sticky;
  top: 47px;
}

footer p {
  margin: 5px;
}

.musicOption-div {
  display: flex;
  flex-direction: row;
  position: absolute;

  transform: translateY(-8vh);
  opacity: 0;
  pointer-events: none;

  margin: 24px 256px;
}

.musicOption-div-show {
  transform: translateY(0vw);
  display: flex;
  position: relative;
  transition: 0.4s;

  opacity: 1;
}

.musicOption-column {
  flex-direction: column;
  width: 120px;

  margin: 0px 12px;
}

.musicOption-h2 {
  font-family: "Poppins", sans-serif;
}

.musicOption-text {
  font-family: "Roboto", sans-serif;
  list-style: none;

  margin-bottom: 24px;
}

.musicOption-text li {
  margin-top: 12px;
}

.learnMore {
  font-size: 18px;
}

@media only screen and (max-width: 650px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: left;

    transition: 0.3s;
  }

  .headerHide {
    transform: translateY(-100vh);
  }

  .headerShow {
    transform: translateY(0px);
  }

  .headerdiv {
    padding: 0px 24px;
  }

  .headerdiv ul {
    flex-direction: column;
    margin-top: 32px;
    width: 100vw;
  }
  .headerdiv li {
    margin: 0px;
  }

  .headerdiv a {
    display: block;
    width: 100vw;
    height: 64px;
  }

  .shoppingcart {
    color: white;

    position: absolute;
    right: 96px;
    top: 24px;
  }

  .hamButton {
    visibility: visible;
    color: white;

    position: absolute;
    top: 12px;
    right: 32px;
    font-size: 24px;
  }

  .headerSmall {
    background-color: #1a1a1a;
    position: fixed;
    height: 48px;
    width: 100vw;
    z-index: 98;
  }

  .counter {
    right: 80px;
    z-index: 99;
  }

  .phonepic {
    height: 60vh;
  }

  .watchRow-div {
    flex-direction: column;
  }

  #jensTech {
    text-decoration: underline;
  }

  #headerSmall-logo {
    display: flex;
    align-items: center;
    margin-left: 12px;

    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 18px;
    height: 47px;
  }

  #productHead-id-phone {
    margin-top: 64px;
  }
}
